@model IndexViewModel

<!DOCTYPE html>
<html>
    <head>
        <title>Test Harness</title>
        <link rel="stylesheet" type="text/css" href="~/css/dist/main.css">
    </head>
    <body class="antialiased text-slate-500 dark:text-slate-400 bg-white dark:bg-slate-900 p-10">
        <audio controls></audio>
        <table id="track-list" class="table-fixed border-collapse border w-full my-2">
            <thead>
                <tr class="text-slate-900 dark:text-slate-300">
                    <th class="border border-slate-300 dark:border-slate-600 font-semibold p-3 py-1 text-left">Artist</th>
                    <th class="border border-slate-300 dark:border-slate-600 font-semibold p-3 py-1 text-left">Album</th>
                    <th class="border border-slate-300 dark:border-slate-600 font-semibold p-3 py-1 text-left">Title</th>
                    <th class="border border-slate-300 dark:border-slate-600 font-semibold p-3 py-1 text-left">&nbsp;</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
        <script id="track-list-entry" type="text/template">
            {{#tracks}}
            <tr data-trackid="{{trackID}}" class="cursor-pointer hover:bg-slate-400 text-slate-500 dark:text-slate-400 hover:text-slate-900">
                <td class="border border-slate-300 dark:border-slate-700 px-3 py-1">{{artistName}}</td>
                <td class="border border-slate-300 dark:border-slate-700 px-3 py-1">{{albumTitle}}</td>
                <td class="border border-slate-300 dark:border-slate-700 px-3 py-1">{{trackTitle}}</td>
                <td class="border border-slate-300 dark:border-slate-700 px-3 py-1"><a href="#" data-url="{{url}}" class="download">Download</a></td>
            </tr>
            {{/tracks}}
        </script>
        <script>
            var _CONFIG = {
                CDN: '@(Model.CDN)'
            };
        </script>
        <script type="module" src="~/js/src/main.js"></script>
    </body>
</html>
